body {
    font-family: Arial, sans-serif;
    background-image: url('yoi.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

h1, h2 {
    color: #333;
    transition: color 0.3s ease-in-out;
    cursor: pointer;
}

h1:hover, h2:hover {
    color: #bb5e20;
}

#product-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

.product-card {
    border: 1px solid #ccc;
    padding: 10px;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.product-card:hover {
    transform: scale(1.05);
}

.product-card img {
    width: 100%;
    height: 200px;
    object-fit: contain;
    margin-bottom: 10px;
    transition: filter 0.3s ease-in-out;
}

.product-card:hover img {
    filter: brightness(80%);
}

header {
    background-color: #8cb0c0;
    padding: 20px;
    text-align: center;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

header h1 {
    margin: 0;
    font-size: 28px;
    color: #333333;
}

header button {
    margin: 10px 5px;
    padding: 8px 15px;
    font-size: 16px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

header button:hover {
    background-color: #0056b3;
}

footer {
    background-color: #333333;
    padding: 10px;
    text-align: center;
    color: #ffffff;
}
